# Entorno virtual
.env/
venv/
env/

#sonar
.sonar/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw

# Base de datos local
*.db
*.sqlite3

# Flask / instancia
instance/
*.cfg

# Migraciones (opcional, depende si quieres subirlas)
# migrations/

# Variables de entorno sensibles
.env
.flaskenv

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# Logs
*.log